/* //////////////////////////// */
/* GENERAL DEAFULTS & OVERRIDES */
/* //////////////////////////// */
*{
  -webkit-box-sizing: border-box!important;
  box-sizing: border-box!important;
}
p{
  margin: 0;
}

/* //////////////////////////// */
/* MESSAGES SECTION */
/* //////////////////////////// */
#all-messages-container{
  gap: 8px;
} 
.msg-wrapper{
  max-width: 50%;
}
.msg-content{
  width: fit-content;
  border-radius: 12px;
  color: white;
  background-color: #81d4fa; 
}
.msg-details{
  text-indent: 1rem;
}
.msg-receiver{
  background-color: #eeeeee;
  color: #37474f;
}

